
<div class="modal fade" id="exampleModalAlert" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Deleting Alink</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/delUrl" method="POST" class="my-4">
        <div class="modal-body">
          
          
          <label for="shortUrl" class="sr-only">A-Link</label>
          <input readonly type="string" name="shortUrl" id="shortUrl" class="form-control col mr-2 font-weight-bold" />
          <input type="hidden" name="linkID" id="linkID" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button class="btn btn-success" type="submit">Delete</button>
        </div></form>
      </div>
    </div>
  </div>