<% if(shortUrlss == 'search') { %> 
    <div class="info">The A-Link you are looking for does not exists. You are welcome to create one.</div>
        
<% } %>
<% if(shortUrlss == 'url_exists') { %> 
    <div class="info">The URL you want to add already exists.</div>
        
<% } %>
<% if(shortUrlss == 'alink_exists') { %> 
    <div class="info">The A-Link you want to add already exists.</div>
        
<% } %>
<% if(shortUrlss == 'invalid_url') { %> 
    <div class="info">Please enter a valid url.</div>
        
<% } %>